################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/DirectXMathWrapper/x64/Release
/DirectXMathWrapper/Release
/DirectXMathWrapper/Debug
/GameEngine/x64
/GameRenderer/x64/Release
/KumaWin/x64
/MapToolCore/bin/x64
/MapToolCore/obj
/MapToolRender/Debug
/MapToolRender/Release
/MapToolRender/x64
/MaptoolRenderer/x64/Release
/MaptoolRenderer/Release
/MaptoolRenderer/Debug
/Project/Resource
/RenderModule/Debug
/RenderModule/x64
/tbb/bin
/tbb/lib
/Utility/x64
/x64
/fmod/lib/x86
/fmod/lib/x64
/Game/.vs/Game/v16
/.vs/3D_Project/v16
/DirectXMathWrapper/x64/Debug
/Game/backup
/Game/Debug
/Game/x64
/MapTool/bin/x64
/MapTool/obj
/MaptoolNightbuild/bin
/MaptoolNightbuild/obj
/MaptoolRenderer/x64/Debug
/packages
/physx/win.x86_64.vc142.md
/GameRenderer/x64/Debug
/GraphicsModule/x64/Debug
/Kumazuma.Renderer.DX11/x64/Debug
/LibTestToolWX/chino
/LibTestToolWX/x64/Debug
