################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/DirectXMathWrapper/x64/Release
/DirectXMathWrapper/Release
/DirectXMathWrapper/Debug
/GameEngine/x64
/GameRenderer/x64/Release
/KumaWin/x64
/MapToolCore/bin/x64
/MapToolCore/obj
/MapToolRender/Debug
/MapToolRender/Release
/MapToolRender/x64
/MaptoolRenderer/x64/Release
/MaptoolRenderer/Release
/MaptoolRenderer/Debug
/Project/Resource
/RenderModule/Debug
/RenderModule/x64
/tbb/bin
/tbb/lib
/Utility/x64
/x64
